ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
:focus {
    outline: 0 none;
}
*, * focus {
    margin: 0;
    outline: medium none;
    padding: 0;
}
textarea {
    overflow: auto;
}  
ul {
    list-style: none;
}
p {
    margin: 0;
    padding: 0;
}
:focus {
    outline: 0 none;
}
input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
button::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
a.button::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
