@import "font.css";
@import "css/jquery.mCustomScrollbar.css";
body {
	background: none repeat scroll 0 0 #f5f5f5;
    color: #5b5b5b;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    line-height: 1.42857;
    margin: 0;
	font-size: 14px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 2px 0 0;
}
.submit {
	background: none repeat scroll 0px 0px transparent;
	font-size: 16px;
	border-color: rgb(0, 0, 0);
	color: #000;
}

/* Sidebar */

.sidebar {
    background-color: #2f4050;
    bottom: 0;
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.5);
    left: 0;
    margin-bottom: 40px;
    position: fixed;
    right: auto;
    top: 50px;
    width: 240px;
    z-index: 100;
}
.sidebar .logopanel {
    height: 50px;
    left: 0;
    padding: 5px;
    position: fixed;
    right: auto;
    top: 0;
    transition: color 0.2s ease-out 0s;
    width: 240px;
    z-index: 2;
	background: none repeat scroll 0 0 #00adef;
	box-shadow: 0px 10px 13px -8px #7f8c8d;
}
.sidebar .logopanel h1{
	font-family: "Lato","Open Sans",Helvetica,sans-serif !important;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	margin: 0;
}
.sidebar .logopanel h1 a{
	color: #fff;
}
.sidebar .sidebar-inner {
    height: 100%;
    overflow-y: hidden;
    padding: 0;
    z-index: 2;
}
.sidebar .sidebar-footer {
    bottom: 0;
    clear: both;
    display: block;
    background: none repeat scroll 0 0 #181a1d;
    left: 0;
    padding: 0;
    position: fixed;
    width: 240px;
    z-index: 1000;
}
.sidebar .sidebar-footer i {
    font-size: 30px;
    color: #ecf0f1;
}
.sidebar .sidebar-footer a i {
    color: #ecf0f1;
}
.sidebar .sidebar-footer a:hover i {
    color: #f7f7f7;
}
.sidebar .sidebar-footer .pull-left {
    padding: 5px 0 5px;
    text-align: center;
    width: 25%;
}
.sidebar .sidebar-footer .pull-left:hover {
    background-color: #373a41;
    text-decoration: none;
}



.main {
    background: none repeat scroll 0 0 #f5f5f5;
    margin-left: 240px;
    min-height: 100%;
}


.topbar {
	background: #f5f5f5 none repeat scroll 0 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    left: 240px;
    position: fixed;
    right: 0;
    top: 0;
	height: 50px;
    z-index: 300;
}
.topbar::after {
    clear: both;
    content: "";
    display: block;
}
.topbar .header-left {
    float: left;
}
.topbar .header-right {
    float: right;
}
.pad {
    padding: 5px;
}
.pad .icon {
	font-size: 40px;
	margin: 0;
}
#total {
    background: none repeat scroll 0 0 white;
    border-radius: 12px;
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-left: -12px;
    padding: 0 6px;
    position: absolute;
    top: 4px;
}
.main-content {
    background: none repeat scroll 0 0 #f5f5f5;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
}
.main-content::after {
    clear: both;
    content: "";
    display: block;
}

.nav {
	border-top: 1px solid #2e2e2e;
	list-style: outside none none;
	margin-bottom: 0;
	padding-left: 0;
}
.nav li {
	text-align: center;
}

form {
}
.access {
	list-style-type: none;
	margin: 0;
	min-height: 62px;
	text-align: center;
	width: 100%;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 -1px 0 rgba(0, 0, 0, 0.5) inset;
}
.access h2 {
	background: -moz-linear-gradient(center top , #5E5E5E, #4F4F4F 4%, #262626 44%, #1C1C1C 50%, #050505 50%, black) repeat scroll 0 0 transparent;
	width: 100%;
	min-height: 62px;
	padding: 0px;
	color: rgba(255, 255, 255, 0.5);
	float: left;
	font-size: 26px;
	height: 62px;
	line-height: 62px;
	position: relative;
}
#page_tasks h3 {
	padding-left: 4px;
	padding-right: 4px;
}
a {
	color: #8da2a9;
	cursor: pointer;
}

#space {
	height: 30px;
}
#footer {
	height: 30px;
	margin-top: -26px;
}
#footer_content {
	background-color: #b5d5ff;
	padding: 5px;
	font-size: 0.8em;
}
#footer_content a {
	color: #8da2a9;
}

#bar {
}
.bar-menu {
}
.nodecor {
	text-decoration: none;
}
#bar_logout {
	display: none;
}
#bar_auth {
	display: none;
}
#authform {
	overflow: hidden;
	z-index: 100;
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	padding: 5px;
	width: 160px;
}
#authform div {
	padding: 2px 0px;
}
#authform div.h {
	font-weight: bold;
}
#loading {
	padding-top: 5px;
	background-color: #ffffff;
	padding-right: 6px;
	width: 16px;
	height: 16px;
	background: url(images/loading1.gif) no-repeat;
}

#msg {
	float: left;
}
#msg .msg-text {
	padding: 1px 4px;
	font-weight: bold;
	cursor: pointer;
}
#msg .msg-details {
	padding: 1px 4px;
	background-color: #fff;
	display: none;
	max-width: 700px;
}
#msg.mtt-error .msg-text {
	background-color: #ff3333;
}
#msg.mtt-error .msg-details {
	border: 1px solid #ff3333;
}
#msg.mtt-info .msg-text {
	background-color: #EFC300;
}
#msg.mtt-info .msg-details {
	border: 1px solid #EFC300;
}



/* Sidebar task list*/
ul.mtt-tabs {
  margin: 0;
  padding: 0;
}
.mtt-tabs  li{
	list-style:none;
	line-height: 2.6;
}
.mtt-tabs > li:hover {
    background: none repeat scroll 0 0 #ececec;
}
.mtt-tabs > li > a {
    color: #ecf0f1;
    font-weight: 400;
    padding: 0px 0px 0px 40px;
	font-size: 16px;
}
.mtt-tabs .task-placeholder {
	border: 2px dashed #181a1d;
	padding: 19px 0px;
	background: none repeat scroll 0 0 #a3a3a3;
}

.mtt-tab .list-action {
	display: none;
	float: right;
	width: 15px;
	height: 15px;
	background: transparent url(images/icons.gif) 0 0 no-repeat;
	cursor: pointer;
	margin: 13px 20px;
	padding: 0;
	vertical-align: unset;
}
.mtt-tab .list-action:hover,
.mtt-tab .list-action.mtt-menu-button-active {
	background-position: -16px 0;
}
.mtt-tab.mtt-tabs-selected .list-action {
	display: block;
}
.mtt-tab.mtt-tabs-selected {
	color: rgb(0, 0, 0);
	background: #f5f5f5;
}
.mtt-tab.mtt-tabs-selected a {
	color: #5b5b5b;
}
.mtt-tabs li:hover a {
	color: #5b5b5b;
}
.mtt-tabs .mtt-tabs-selected > li > a {
	color: #5b5b5b;
}

/* Only One */
.mtt-tabs.mtt-tabs-only-one li {
	display: none;
}
.mtt-tabs.mtt-tabs-only-one li.mtt-tabs-selected {
	display: block;
}


#mtt_body.readonly li.mtt-tabs-selected span {
	margin-right: 0;
}
.mtt-tabs-hidden {
	display: none;
}

.mtt-tabs-alltasks {
}
.mtt-tabs-alltasks.mtt-tab a {
	padding: 6px 2px 6px 6px;
}
.mtt-tabs-alltasks.mtt-tab.mtt-tabs-selected {
}

.status_available, .status, .status_off { width: 7px; height: 7px; display: block; position: absolute; top: 50%; right: 10px; margin-top: -4px; }

#tabs_buttons {
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid #ededed;
	border-bottom: none;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	text-align: center;
	height: 25px;
	-moz-border-bottom-colors: none;
	-moz-border-top-colors: none;
	padding: 5px 36% 0;
	-moz-border-right-colors: none;
	-moz-border-left-colors: none;
	border-color: rgb(237, 237, 237) rgb(237, 237, 237) -moz-use-text-color;
	border-image: none;
	border-width: 1px 1px medium;
	border-style: solid solid none;
}

.mtt-tabs-button {
	font-size: 0.9em;
	padding: 0px 10px 0;
	text-align: center;
}

.mtt-tabs-button span {
	display: block;
	background-position: 10px 20px;
	
	position: right top;
}

.mtt-tabs-button:hover,
.mtt-tabs-button.mtt-menu-button-active {

}

.mtt-tabs-add-button {
}
.mtt-tabs-add-button:hover {
	cursor: pointer;
}
.mtt-tabs-add-button>span {
	display: block;
	width: 16px;
	height: 16px;
	background: url(images/buttons.png) 0 0 no-repeat;
}
.mtt-tabs-add-button:hover>span {
	background-position: -16px 0;
}
#mtt_body.readonly .mtt-tabs-add-button {
	display: none;
}

.mtt-tabs-select-button>span {
	background: url(images/icons.gif) -64px 0 no-repeat;
}
.mtt-tabs-select-button:hover>span,
.mtt-tabs-select-button.mtt-menu-button-active>span {
	background-position: -80px 0;
}

#mtt_body.no-lists #toolbar > * {
	visibility: hidden;
}

.arrdown {
	display: inline-block;
	height: 7px;
	width: 9px;
	background: url(images/arrdown.gif);
}
.arrdown2 {
	display: inline-block;
	height: 7px;
	width: 7px;
	background: url(images/arrdown2.gif);
}


#toolbar > div {
}
#task_new {
    background-color: #ecedee;
    border: 1px solid #ecedee;
    border-radius: 2px;
    box-shadow: none !important;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: 40px;
    line-height: normal;
    padding: 9px 12px 8px;
    transition: all 0.2s ease-out 0s;
    vertical-align: middle;
    width: 100%;
}
label#task_placeholder{
	display: block;
}
.form-control {
    background-color: #ecedee;
    border: 1px solid #ecedee;
    border-radius: 2px;
    box-shadow: none !important;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: auto;
    line-height: 20px;
    padding: 6px 12px 6px;
    transition: all 0.2s ease-out 0s;
    vertical-align: middle;
    width: 100%;
    border: 2px solid #ecedee;
    font-size: 18px;
    font-size: 14px;
}
.form-control:-moz-placeholder {
    color: #b5b5b5;
}
.form-control::-moz-placeholder {
    color: #b5b5b5;
}
.form-control:focus {
    background-color: #e9ebef !important;
    border: 1px solid #cfd2d6;
    box-shadow: none;
    outline: medium none !important;
}
.form-control[class*="bg-"] {
    color: #121212 !important;
}
.form-control[class*="bg-"]:-moz-placeholder {
    color: #eeeeee;
}
.form-control[class*="bg-"]::-moz-placeholder {
    color: #eeeeee;
}
.form-control.form-white {
    background-color: #ffffff;
    border: 3px solid #ecedee;
    color: #555555;
}
.form-control.form-white:hover {
    background-color: #ffffff !important;
    border: 3px solid #c5c8cb;
    color: #555555;
    outline: medium none;
}
.form-control.form-white:focus {
    background-color: #ffffff !important;
    border: 3px solid #c5c8cb;
    color: #555555;
    outline: medium none;
}
.form-control.form-white:visited {
    background-color: #ffffff !important;
    border: 3px solid #c5c8cb;
    color: #555555;
    outline: medium none;
}
.append-icon {
    position: relative;
}
.append-icon i {
    font-size: 25px;
}
.append-icon i {
    color: rgba(27, 30, 37, 0.3);
    left: auto;
    line-height: 37px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 0;
}
#newtask_adv i {
	padding-top: 5px 0;
	padding: 10px 0;
	font-size: 30px;
}

.center{
	text-align:center;
	padding-top: 5px;
}

#mtt_body.show-all-tasks #htab_newtask,
#mtt_body.readonly #htab_newtask {
	display: none;
}



/* Search */

#htab_search {
	padding: 6px 10px;
}
#search {
	color: #444444;
	width: auto;
	margin-left: -45px;
	/*padding border*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding-left: 30px;
}
#search_close {
	display: none;
}


.mtt-searchbox-c {
	position: relative;
	padding-left: 40px;
	/*input padding border*/ ;
}
.mtt-searchbox-icon {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 50%;
	margin-top: -8px;
}

.mtt-searchbox-icon.mtt-icon-search {
	background: url(images/mzl.png) 0px -16px no-repeat;
	left: 4px;
}
.mtt-searchbox-icon.mtt-icon-cancelsearch {
	background: url(images/mzl.png) 0px 0px no-repeat;
	right: 12px;
}

#searchbar {
	font-size: 1.2em;
	font-weight: normal;
	display: none;
	margin-top: 4px;
	margin: 5px 10px;
	padding: 5px;
	background: #fff;
}
#searchbarkeyword {
	font-weight: bold;
}

/* */
form#taskedit_form {
	background: #fff;
	padding: 20px;
}

#page_tasks{
    overflow: auto;
    padding: 0;
    position: fixed;
    top: 50px;
	height: 90%; 
    z-index: 100;
}

#mtt_body.no-lists #page_tasks h3 > * {
	visibility: hidden;
}
.mtt-notes-showhide {
	font-size: 0.9em;
	font-weight: normal;
	line-height: 42px;
	padding: 0;
}
.mtt-notes-showhide a {
	text-decoration: none;
	border-bottom: 1px dotted;
}

#mtt_filters {
	font-size: 0.8em;
	font-weight: normal;
}
.tag-filter {
	margin-left: 3px;
	margin-right: 3px;
}
.tag-filter-exclude {
	text-decoration: line-through;
}
.mtt-filter-header {
	font-weight: bold;
	margin-right: .33em;
}
.mtt-filter-close {
	cursor: pointer;
	position: relative;
	top: 2px;
	margin-left: 3px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(images/closetag.gif) 0 0 no-repeat;
}

#tasklist {
	list-style: none;
	padding: 0;
	margin: 0;
}
#tasklist li {
	padding: 12px 0px;
	border-bottom: 1px solid #cfcfcf;
}
#tasklist li:hover {
	background-color: #f6f6f6;
}
.task-actions {
	float: right;
	width: 20px;
	text-align: right;
}
.task-left {
	float: left;
	margin-left: 40px;
	margin-right: 20px;
}
.task-toggle {
	visibility: hidden;
	margin-top: 0;
	cursor: pointer;
	width: 15px;
	height: 15px;
	float: left;
	background: url(images/icons.gif) -64px -16px no-repeat;
}
li.task-has-note .task-toggle {
	visibility: visible;
}
li.task-expanded .task-toggle {
	margin: 0 0px 0 0;
}
.task-middle {
	margin-left: 40px;
	margin-right: 20px;
}
#tasklist {
	list-style: inside none none;
    margin: 0;
    padding: 0 10px;
}
#tasklist li {
	padding: 12px 2px 12px 6px;
	min-height: 50px;
	border-bottom: 1px solid #cfcfcf;
}
#tasklist li:hover {
	background-color: #f6f6f6;
}
.task-actions {
	float: right;
	width: 20px;
	text-align: right;
}
.task-date {
	color: #999999;
	font-size: 0.8em;
	margin-left: 4px;
	display: none;
}
.task-date-completed {
	color: #999999;
	display: none;
	margin-left: 5px;
}
.show-inline-date .task-date {
	display: inline;
}
.show-inline-date li.task-completed .task-date-completed {
	display: inline;
}
.show-inline-date li.task-completed .task-date {
	display: none;
}
.task-through {
	overflow: hidden;
}
.task-through-right {
	float: right;
}
.task-title {
	font-size: 17px;
	color: #5b5b5b;
	font-weight: 500;

}
.task-title a {
	font-size: 17px;
	color: #5b5b69;
	font-weight: 500;
	text-decoration: underline;
}
.task-title a:hover {
	color: #af0000;
}
#mtt_body.readonly #tasklist li .task-actions {
	display: none;
}
.task-listname {
	background-color: #eee;
	color: #555;
	padding: 0px 3px;
}
.task-tags {
	padding: 0px 2px;
}
.task-tags .tag {
	font-size: 0.8em;
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
}
.task-tags .tag:hover {
	;
}
.duedate {
	color: #333333;
	padding: 0px;
	padding-left: 1px;
	margin-left: 5px;
	font-size:0.8em; 
}
li.task-completed .duedate {
	/*font-size:0.8em;*/ display: none;
}
#tasklist li.soon .duedate {
	color: #008000;
}
#tasklist li.today .duedate {
	color: #FF0000;
}
#tasklist li.past .duedate {
	color: #A52A2A;
}
li.task-completed .task-middle {
	color: #777777;
}
li.task-completed .task-through {
	text-decoration: line-through;
}
li.task-completed .task-title a {
	color: #5b5b69;
}
#tasklist li.task-completed {
	opacity: 0.6;
	filter: alpha(opacity=60);
}
#tasklist li.task-completed:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}
#tasklist li.not-in-tagpreview {
	opacity: 0.1;
	filter: alpha(opacity=10);
}
#tasklist li.mtt-task-placeholder {
	min-height: 0px;
	padding: 0px;
	height: 18px;
	line-height: 18px;
	background-color: #ddd;
	border: 1px solid #aaa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

a.taskactionbtn {
	display: block;
	float: right;
	height: 15px;
	width: 15px;
	text-decoration: none;
	background: url(images/icons.gif) 0 0 no-repeat;
	display: none;
}
li:hover a.taskactionbtn,
a.taskactionbtn.mtt-menu-button-active {
	background-position: -16px 0;
	display: block;
}

#tasklist.filter-past li,
#tasklist.filter-today li,
#tasklist.filter-soon li {
	display: none;
}
#tasklist.filter-past li.past,
#tasklist.filter-today li.today,
#tasklist.filter-soon li.soon {
	display: block;
}
#tasklist.filter-past li.task-completed,
#tasklist.filter-today li.task-completed,
#tasklist.filter-soon li.task-completed {
	display: none;
}

.task-note-block {
	margin-left: 2px;
	color: #777777;
	background: url(images/page_white_text.png) left  2px no-repeat;
	padding-left: 19px;
	padding-top: 2px;
	min-height: 16px;
	margin-top: 2px;
	display: none;
}
li.task-expanded .task-note-block {
	display: block;
}
li.task-completed .task-note-block .task-note {
	text-decoration: line-through;
}
.task-note-area {
	display: none;
	margin-bottom: 5px;
}
.task-note-area textarea {
	color: #999999;
	width: 100%;
	display: block;
	height: 65px;
}
.task-note-actions {
	font-size: 0.8em;
}
.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
}
.in500 {
	width: 500px;
	color: #444444;
	border: 1px solid #C3CBD3;
}
.in100 {
	width: 100px;
	color: #444444;
	border: 1px solid #C3CBD3;
    border-radius: 3px 3px 3px 3px;
}
.task-note span  {
	font-size: 0.8em;
}
.task-note span a {
	color: #8da2a9;
}
.task-note span a:hover {
	color: #af0000;
}

.task-prio {
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 0px;
	margin-right: 5px;
	cursor: default;
}
.prio-neg {
	background-color: #3377ff;
	color: #ffffff;
}
.prio-pos {
	background-color: #ff3333;
	color: #ffffff;
}
.prio-pos-1 {
	background-color: #ff7700;
	color: #ffffff;
}
.prio-zero {
	/*background-color:#dedede;*/ ;
}
.task-prio.prio-zero {
	display: none;
}
.form-row {
	padding: 10px 0;
}

/*Task edit*/

#page_taskedit {
}

#page_taskedit .form-row .in500 {
	width: 100%;
	padding: 10px;
	font: 11px;
}
#page_taskedit .form-row textarea.in500 {
	height: 200px;
	/*resize:none;*/ ;
}
#page_taskedit .form-bottom-buttons {
	text-align: left;
	padding: 20px 0px;
}
#alltags .tag {
	font-weight: bold;
	color: #333333;
}
#alltags .tag:hover {
	background-color: #999988;
	color: white;
}
.alltags-cell {
	width: 1%;
	white-space: nowrap;
	padding-left: 5px;
}
#page_taskedit.mtt-inadd .mtt-inedit {
	display: none;
}
#page_taskedit.mtt-inedit .mtt-inadd {
	display: none;
}
.mtt-inadd h3, .mtt-inadd h3 {
	font-size: 28px;
	padding: 10px 0px 10px;
	color: #1d2939;
}
#taskedit-date {
	font-size: 1em;
	font-weight: normal;
	display: inline;
	color: #777;
	margin-left: 8px;
}

/* autocomplete */
.ac_results {
	padding: 0px;
	border: 1px solid #cccccc;
	background-color: #f9f9f9;
	overflow: hidden;
	z-index: 99999;
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}
.ac_results ul {
	width: 100%;
	list-style-position: outside;
	margin: 0;
}
.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	line-height: 16px;
	overflow: hidden;
}
.ac_over {
	background-color: #316AC5;
	color: white;
}

#priopopup {
	overflow: hidden;
	z-index: 100;
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	padding: 5px;
}
#priopopup span {
	cursor: pointer;
	border: 1px solid #f9f9f9;
}
#priopopup .prio-zero:hover {
	border-color: #dedede;
}
#priopopup .prio-neg:hover {
	border-color: #3377ff;
}
#priopopup .prio-pos:hover {
	border-color: #ff3333;
}
#priopopup .prio-pos-1:hover {
	border-color: #ff7700;
}
#taskcontextcontainer{ 
	position: absolute; 
	top: 98px;
	left: 5px;
}
#mtt_body.show-all-tasks #tagcloudbtn {
	display: none;
}
#tagcloudbtn span .icon {
	font-size: 28px;
	padding: 5px 20px;
}


#tagcloudload {
	display: none;
	height: 24px;
	background: url(images/loading1_24.gif) center no-repeat;
}
#tagcloud {
	z-index: 100;
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	padding: 5px;
	width: 100%;
	max-width: 450px;
	margin: 0px 7px 7px 7px;
	text-align: center;
}
#tagcloud .tag {
	margin: 1px 0px;
	padding: 2px;
	line-height: 140%;
	color: black;
}
#tagcloud .tag:hover {
	background-color: #999988;
	color: white;
}
#tagcloud .w0 {
	font-size: 80%;
}
#tagcloud .w1 {
	font-size: 90%;
}
#tagcloud .w2 {
	font-size: 100%;
}
#tagcloud .w3 {
	font-size: 110%;
}
#tagcloud .w4 {
	font-size: 120%;
}
#tagcloud .w5 {
	font-size: 130%;
}
#tagcloud .w6 {
	font-size: 140%;
}
#tagcloud .w7 {
	font-size: 150%;
}
#tagcloud .w8 {
	font-size: 160%;
}
#tagcloud .w9 {
	font-size: 170%;
}

#tagcloudcancel {
	float: right;
}
#tagcloudcancel span {
	background: url(images/buttons.png) 0 -32px no-repeat;
}
#tagcloudcancel span:hover {
	background-position: -16px -32px;
}

#taskview {
}
.ui-datepicker {
    background: #fff none repeat scroll 0 0;
    border: 5px solid #dbe2e4;
    border-radius: 20px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    display: none;
    padding: 8px 8px;
    z-index: 202;
}
.ui-datepicker-trigger {
	cursor: pointer;
	vertical-align: text-bottom;
	margin-left: 10px;
}
.ui-datepicker-calendar {
	width: 100%;
	border-collapse: collapse;
}
.ui-datepicker-calendar thead th {
	text-align: center;
	padding: 0px;
	font-size: 0.9em;
}
.ui-datepicker-calendar tbody td {
	text-align: center;
	padding: 1px 2px;
}
.ui-datepicker-calendar td a {
	display: block;
	text-decoration: none;
	color: #444444;
	border: 1px solid #ecf0ff;
	background-color: #f9f9f9;
	color: #8da2a9;
	padding: 4px 7px;
	border-radius: 25px;
	font-size: 14px;
	font-weight: 300;
}
.ui-datepicker-calendar td.ui-datepicker-current-day a {
	background-color: #EAF5FF;
	color: #8da2a9;
	border-color: #5980FF;
}
.ui-datepicker-calendar td.ui-datepicker-today a {
	color: #fff;
	background-color: #2ecc71;
}
.ui-datepicker-calendar td a:hover {
	border-color: #5980FF;
}
.ui-widget-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0;
    position: relative;
}
.ui-datepicker-header {
    font-size: 12px;
    padding: 10px;
    position: relative;
}
.ui-datepicker-header .ui-datepicker-prev {
    cursor: pointer;
	font-size: 12px;
	float: left;
}
.ui-datepicker-next {
	float: right;
}
.ui-widget-header .ui-datepicker-title {
    color: #5B5B5B;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}








.mtt-menu-button {
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
}
.mtt-menu-button:hover,
.mtt-menu-button.mtt-menu-button-active {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.mtt-menu-container {
    background-color: #f9f9f9;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 0;
    z-index: 1000;
}
.list_all{
	margin: 0 10px;
}
.projects-block{
	margin: 0;
}


.mtt-menu-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.mtt-menu-container li {
	margin: 1px 0px;
	cursor: default;
	color: #000;
	white-space: nowrap;
	padding: 0.15em 0px;
	padding-left: 24px;
	padding-right: 18px;
	position: relative;
}
.mtt-menu-container li:hover,
.mtt-menu-container li.mtt-menu-item-active {
	background-color: #316AC5;
	color: white;
	background: -moz-linear-gradient(#5373fc,  #3157f4);
	background: -webkit-gradient(linear, left top, left bottom, from(#5373fc), to(#3157f4));
}
.mtt-menu-container li.mtt-item-disabled,
.mtt-menu-container li.mtt-item-disabled a {
	color: #8da2a9;
}
.mtt-menu-container a {
	display: block;
	cursor: default;
	text-decoration: none;
	outline: none;
	color: #8da2a9;
}
.mtt-menu-container li:hover a {
	color: #8da2a9;
}
.mtt-menu-container li.mtt-menu-delimiter {
	height: 0px;
	line-height: 0;
	border-bottom: 1px solid #cccccc;
	margin: 2px -1px;
	padding: 0px;
	font-size: 0px;
}
.mtt-menu-container .menu-icon {
	width: 16px;
	height: 16px;
	position: absolute;
	left: 4px;
	top: 50%;
	margin-top: -8px;
}
li.mtt-item-checked .menu-icon {
	background: url(images/icons.gif) -16px -16px;
}
li.mtt-menu-indicator .submenu-icon {
	position: absolute;
	right: 2px;
	top: 50%;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	background: url(images/icons.gif) -32px -16px no-repeat;
}
li.mtt-item-hidden {
	display: none;
}

#slmenucontainer li.mtt-list-hidden a {
	font-style: italic;
}
#cmenulistscontainer li.mtt-list-hidden {
	font-style: italic;
}

#btnRssFeed .menu-icon {
	background: url(images/buttons.png) -16px -64px no-repeat;
}
#btnRssFeed.mtt-item-disabled .menu-icon {
	background: url(images/buttons.png) 0px -64px no-repeat;
}


/* Page-settings */
.mtt-page-settings {
	margin-top: 55px;
}
.page-settings {
	padding: 8px 15px;
	border-bottom: 1px solid #cfcfcf;
	font-size: 12px;
}

